asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
DateTime==5.5
dnspython==2.6.1
Flask==3.0.3
Flask-WTF==1.2.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
motor==3.5.1
nest-asyncio==1.6.0
pymongo==4.8.0
pytz==2024.1
Werkzeug==3.0.3
WTForms==3.1.2
zope.interface==6.4.post2
